/* GENERAL STYLING */

body {
    /* COLOR VARIABLES */
    --buttonColor: #096192;
    --inputColor: whitesmoke;
    --borderColor: #ddd;
    --flagColor: #c00;
    --taskColor: #f0e130;
    --questionColor: #429E9D;

    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* GENERAL INPUT STYLING */

input, textarea {
    font-family: "Open Sans", sans-serif;
    border: none;
    -moz-appearance: textfield;
    margin: 1rem auto;
    font-size: 1rem;
}

input[type="submit"], input[type="button"] {
    font-size: 2rem;
    color: white;
    background-color: var(--buttonColor);
}

/* CLASSES FOR DISPLAYING AND HIDING ELEMENTS */

.hidden {
    display: none;
}


.fullPage {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: justify;
}





/* START PROMPT STYLING */

#startPrompt form > * {
    margin: 1rem 0;
}

#appName {
    display: block;
    font-size: 3rem;
}

#topic {
    width: 100%;
    font-size: 3rem;
}

#timeInput, #attendantsInput {
    width: 100%;
}

#time {
    width: 4rem;
}

#namesOfAttendants {
    width: 30rem;
    max-width: 100%;
}

#time::-webkit-inner-spin-button, 
#time::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* STYLING FOR TOPIC QUESTION + PROGRESS BAR */

header {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 0 0 0.1rem 0.1rem var(--borderColor);
}

#currentTime {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 0.25rem;
    width: 0%;
    background-color: var(--buttonColor);
}

header h1 {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

/* STYLING FOR SYSTEM OPTIONS */

#sysOptions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}





/* CONTENT BLOCKS - GENERAL STYLING */

section {
    margin: 10rem;
}

.content {
    position: relative;
    margin: 1rem auto;
    border-width: 0.1px;
    border-style: solid;
    border-color: var(--borderColor);
}

.fa-flag, .fa-tasks {
    padding: 0.5rem;
    color: white;
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 180px;
}
.fa-flag {
    background-color: var(--flagColor);
}
.fa-tasks {
    background-color: var(--taskColor);
}

.assignedAttendants {
    position: absolute;
    bottom: -12px;
    left: -12px;
}

.addAttendantPrompt {
    display: inline-block;
    background-color: var(--inputColor);
}

.addAttendantPrompt span {
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid var(--borderColor);
}

.content textarea {
    display: block;
    width: 95%;
    resize: none;
    font-family: "Playfair Display", serif;
}

.content .contentControls {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.addAttendant:hover, .edit:hover, .delete:hover {
    cursor: pointer;
}

.editable {
    background-color: var(--inputColor);
}

.locked {
    background-color: white;
    color: black;
}

/* CONTENT BLOCKS - STYLING FOR ATTENDANTS */

#attendants {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#attendants .attendant > input {
    display: inline-block;
    margin: 0 1rem;
    width: 8rem;
}

/* CONTENT BLOCKS - STYLING FOR FLAGS */

#flags {
    width: 1000px;
    max-width: 90%;
}

.flag {
    border-top-width: 3px;
    border-top-color: var(--flagColor);
}

/* CONTENT BLOCKS - STYLING FOR TASKS */

.task {
    border-top-width: 3px;
    border-top-color: var(--taskColor);
}



/* CLASS FOR CHOOSING WHAT ELEMENTS TO HIDE IN PRINT-OUT */

@media print {
    .printHidden {
        display: none;
    }

    .fa-flag {
        color: var(--flagColor);
    }
}

@page {
    size: auto;
    margin: 50px;
}