/* GENERAL STYLING */

body {
    /* COLOR VARIABLES */
    --buttonColor: #00ADEF;
    --inputColor: whitesmoke;
    --borderColor: #ddd;
    --flagColor: #c00;
    --taskColor: #f0e130;
    --questionColor: #429E9D;

    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

#appLogoFooter {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
}

/* GENERAL INPUT STYLING */

input, textarea {
    border: none;
    -moz-appearance: textfield;
    font-size: 1rem;
}

input[type="submit"], input[type="button"] {
    padding: 0.5rem;
    color: white;
    background-color: var(--buttonColor);
    font-size: 2rem;
}

/* CLASSES FOR DISPLAYING AND HIDING ELEMENTS */

.hidden {
    display: none !important;
}


.fullPage {
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: justify;
}





/* START PROMPT STYLING */

#appLogo {
    width: 22rem;
    max-width: 100%;
}

#startPrompt form {
    margin-top: 2rem;
}

#startPrompt h2 {
    margin: 1rem 0 0 0;
}

#topic, #time, #namesOfAttendants {
    font-family: "Open Sans", sans-serif;
    width: 20rem;
    max-width: 100%;
    font-size: 1.5rem;
}

#topic::placeholder, #time::placeholder, #namesOfAttendants::placeholder {
    color: #bbb;
}

#startPrompt input[value="START"] {
    margin: 3rem 0;
}

#time::-webkit-inner-spin-button, 
#time::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* STYLING FOR TOPIC QUESTION + PROGRESS BAR */

header {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 0 0 0.1rem 0.1rem var(--borderColor);
}

#currentTime {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 0.35rem;
    width: 0%;
    background-color: var(--buttonColor);
}

header h1 {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

/* STYLING FOR SYSTEM OPTIONS */

#sysOptions {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

#sysOptions input {
    margin: 0.1rem 0;
    display: block;
    font-size: 1rem;
}

/* CONTENT BLOCKS - GENERAL STYLING */

section {
    margin: 3rem auto !important;
}

.content {
    position: relative;
    margin: 1rem auto;
    border-width: 0.1px;
    border-style: solid;
    border-color: var(--borderColor);
    background-color: white;
}

.fa-flag, .fa-tasks, .fa-question {
    padding: 0.5rem;
    color: white;
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 180px;
}
.fa-flag {
    background-color: var(--flagColor);
}
.fa-tasks {
    background-color: var(--taskColor);
}
.fa-question {
    background-color: var(--questionColor);
}

.assignedAttendants {
    position: absolute;
    bottom: -12px;
    left: -12px;
}

.addAttendantPrompt {
    display: inline;
    background-color: var(--inputColor);
}

.addAttendantPrompt span {
    border: 1px solid var(--borderColor);
}

.content textarea {
    margin: 1rem auto;
    display: block;
    width: 95%;
    resize: none;
    font-family: "Playfair Display", serif;
}

.content .contentControls {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.addAttendant:hover, .edit:hover, .delete:hover {
    cursor: pointer;
}

.editable {
    background-color: var(--inputColor);
}

.locked {
    background-color: white;
    color: black;
}

/* CONTENT BLOCKS - STYLING FOR ATTENDANTS */

#attendants {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#attendants .attendant > span {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
}

/* CONTENT BLOCKS - STYLING FOR FLAGS */

#flags {
    width: 1000px;
    max-width: 80%;
}

.flag {
    border-top-width: 3px;
    border-top-color: var(--flagColor);
}

/* CONTENT BLOCKS - STYLING FOR TASKS */

.task {
    border-top-width: 3px;
    border-top-color: var(--taskColor);
}

/* CONTENT BLOCKS - STYLING FOR QUESTIONS */

.question {
    border-top-width: 3px;
    border-top-color: var(--questionColor);
}



/* CLASS FOR CHOOSING WHAT ELEMENTS TO HIDE IN PRINT-OUT */

@media print {
    .printHidden {
        display: none !important;
    }

    .fa-flag {
        color: var(--flagColor);
    }
    .fa-tasks {
        color: var(--taskColor);
    }
    .fa-question {
        color: var(--questionColor);
    }
}