body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.hidden {
    display: none;
}

header {
    position: relative;
    width: 100%;
    box-shadow: 0 0 0.1rem 0.1rem #eee;
}

#currentTime {
    position: absolute;
    z-index: -1;
    left: 0;
    height: 0.25rem;
    width: 0%;
    background-color: #096192;
}

header h1 {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.fullPage {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: justify;
}

#addWheel {
    position: absolute;
    bottom: 10px;
    right: 10px;
}